{% extends 'base.html' %}

{% block content %}
    <h2>Manager Login</h2>
    <form method="POST">
        <label for="manager_email">Email:</label>
        <input type="email" id="manager_email" name="manager_email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{{ signup_url }}">Sign up here</a></p>
{% endblock %}
