<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
</head>
<body>
    <h2>Select Role</h2>
    <form method="POST">
        <input type="radio" name="role" value="user" required> User
        <br>
        <input type="radio" name="role" value="manager" required> Manager
        <br>
        <input type="submit" value="Continue">
    </form>
</body>
</html>
