<!-- view_orders.html -->

<!DOCTYPE html>
<html>
<head>
    <title>View Orders</title>
</head>
<body>
    <h2>View Orders</h2>
    <table>
        <tr>
            <th>Order ID</th>
            <th>User Email</th>
            <th>Total Price</th>
            <th>Order Date</th>
            <th>Items</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.user.email }}</td>
            <td>${{ order.total_price }}</td>
            <td>{{ order.date }}</td>
            <td>
                <ul>
                    {% for item in order.items %}
                        <li>{{ item.menu_item.name }} (Quantity: {{ item.quantity }})</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>

    <p><a href="{{ url_for('manager_dashboard') }}">Back to Manager Dashboard</a></p>
</body>
</html>
